@charset "UTF-8";

div{
  display: block;
}
body {
  background: #fff;
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}
/* ヘッダー */
header{
  height: 80px;
  width: 100%;
  position: fixed;
  background: #ffffffb3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  top: 0px;
  z-index: 10000;
}
button{
  background: #19448e;
  font-size: 18px;
  color: #FFFFFF;
  width: 140px;
  height: 40px;
  border-radius: 5px;
    
}
header img{
  width: 300px;
  height: 200px;
}

/* メイン */
.mv-section .mv-contents{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 700px;
  margin: 0 auto;
  background: url(/images/mv_pc.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.is-ie-svg{
  display: none;
}
img{
  border-style: none;
}
.mv-section .mv-svg.mv-svg-pc{
  width: 910px;
  height: 75px;
}
.mv-section .mv-svg{
  margin: 0 auto;
}
.mv-section .mv-svg svg{
  width: 100%;
  height: 100%;
}
svg:not(:root){
  overflow: hidden;
}
/* 途中 */




.sp-only{
  display: none; 
}
.copy-container001{
  position: absolute;
  color: #FFFFFF;
  font-size: 42px;
  width: 910px;
  height: 75px;
}
.mv-section .first-read-block{
  width: 100%;
}
.mv-section .first-read-block .first-read-inner.is-active{
  animation: bounce 400ms ease-in-out 1 normal 0s forwards;
}
.first-read-block {
  width: calc(100% - 20px);
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: translateY(-60px);
  transform: translateY(-60px);
  left: 50%;
  padding: 40px 0;
  background: rgba(37, 183, 192, 0.8);
  color: #fff;
  text-align: center;
}
.mv-section .first-read-block .first-read-inner h1{
  text-align: center;
  font-family: 'Sawarabi Gothic', sans-serif;
  font-weight: 900;
  font-size: 28px;
  margin: 30px;
}
.mv-section .first-read-block .first-read-inner p{
  display: inline-block;
  text-align: left;
  font-size: 17px;
  line-height: 32px;
  margin: 0px 120px;
  margin-bottom: 30px;
}

/* その悩み、突破しませんか？ */
.trouble-solution-section{
  padding-bottom: 70px;
}
.trouble-solution-section h2{
  margin-bottom: 63px;
  font-size: 42px;
}
h2{
  font-family: 'Sawarabi Gothic', sans-serif;
  font-weight: 800;
  text-align: center;
}
.trouble-solution-section .trouble-contents{
  display: flex;
  width: 100%;
  min-height: 430px;
  margin-bottom: 100px;
}
.trouble-solution-section .trouble-contents .trouble01{
  -webkit-box-pack: end;
  justify-content: flex-end;
  width: 100%;
  background-color: darkslateblue;
  background-size: cover;
  background-position: 50% 50%;
}
.trouble-solution-section .trouble-contents .trouble-box{
  position: relative;
  display: flex;
  padding: 245px 15px 15px;
  overflow: hidden;
}
.trouble-solution-section .trouble-contents .trouble-box .trouble-txt-box{
  position: relative;
  width: 100%;
  max-width: 220px;
  color: #fff;
  text-align: center;
}
.trouble-solution-section .trouble-contents .trouble-box .trouble-txt-box .trouble-ttl{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 3em;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}
.trouble-solution-section .trouble-contents .trouble-box .trouble-txt-box .trouble-txt{
  display: inline-block;
  text-align: left;
  font-size: 16px;
  line-height: 25px;
}

ul{
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
img{
  border-style: none;
}
p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.trouble-solution-section .trouble-contents .trouble-img{
  position: absolute;
  width: 100%;
  max-width: 220px;
  margin: auto;
  text-align: center;
}
.trouble-solution-section .trouble-contents .trouble-box .trouble-txt-box .trouble-ttl{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 3em;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}
.trouble-solution-section .trouble-contents .trouble-box .trouble-txt-box .trouble-txt{
  display: inline-block;
  text-align: left;
  font-size: 16px;
  line-height: 25px;
}
.trouble-solution-section .trouble-contents .trouble01{
  -webkit-box-pack: end;
  justify-content: flex-end;
  width: 100%;
  background-color: darkslategray;
  background-size: cover;
  background-position: 50% 50%;
}
.trouble-solution-section .trouble-contents .trouble02{
  background: #f6ae54;
}
.trouble-solution-section .trouble-contents .trouble02, .trouble-solution-section .trouble-contents .trouble03{
  width: 25%;
  max-width: 250px;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}
.trouble-solution-section .trouble-contents .trouble-img.trouble02-img{
  top: 100px;
}
.trouble-solution-section .trouble-contents .trouble-img.trouble02-img img{
  width: 105px;
  height: 85px;
}
.trouble-solution-section .trouble-contents .trouble03{
  background: #25b7c0;
}
.trouble-solution-section .trouble-contents .trouble02, .trouble-solution-section .trouble-contents .trouble03{
  width: 25%;
  max-width: 250px;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}
.trouble-solution-section .trouble-contents .trouble-img.trouble03-img{
  top: -60px;
  right: -3px;
  transform: rotateZ(15deg);
  width: 135px;
}
.trouble-solution-section .trouble-contents .trouble-img.trouble03-img img {
  width: 100%;
  height: 100%;
}
.trouble-solution-section .trouble-contents .trouble04{
  width: 100%;
  background: #091933;
}
.trouble-solution-section .trouble-contents .trouble-img.trouble04-img{
  top: 100px;
}
.trouble-solution-section .trouble-contents .trouble-img.trouble04-img img{
  width: 80px;
  height: 80px;
}
.read-box.type01 {
  padding: 53px 60px 50px;
  background: #5373aa;
}
.read-box{
  width: calc(100% - 8.8vw);
  max-width: 900px;
  margin: 0 auto;
  color: #fff;
}
.trouble-solution-section .read-box h2{
  font-size: 30px;
}
.trouble-solution-section h2{
  margin-bottom: 63px;
}
.read-box h2{
  display: inline-block;
  text-align: left;
}
.read-box.type01 p{
  font-size: 18px;
  text-align: left;
}
.read-box p{
  margin-bottom: 35px;
  line-height: 32px;
}
/* 成功事例で分かる採用オウンドメディアの効果 */
.success-case-section{
  padding: 0 0 80px;
}
.success-case-section h2{
  margin-bottom: 50px;
  font-size: 42px;
}
h2{
  font-family: 'Sawarabi Gothic', sans-serif;
  font-weight: 800;
  text-align: center;
}
.success-case-section .success-case-name{
  margin-bottom: 55px;
}
.success-case-section .success-case-name h3{
  margin-bottom: 2px;
  text-align: center;
  font-size: 20px;
}
.success-case-section .success-case-name p{
  font-size: 18px;
  text-align: center;
}
.success-case-section .success-img-box{
  position: relative;
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  overflow: hidden;
}
.success-case-section .success-img-box .img-pc.is-active{
  transform: translateX(0vw);
  opacity: 1;
}
.success-case-section .success-img-box .img-pc{
  position: relative;
  width: 630px;
  height: 530px;
  margin: auto;
}
.success-case-section .success-img-box img{
  width: 100%;
  height: auto;
}
.success-case-section .success-img-box .img-sp.is-active{
  transform: translateX(0vw);
  opacity: 1;
}
.success-case-section .success-img-box .img-sp{
  position: absolute;
  bottom: 30px;
  width: 165px;
  height: 320px;
  right: 75px;
  margin: auto;
}
.success-case-section .success-count-box.is-active{
  transform: translateY(0px);
  opacity: 1;
}
.success-case-section .success-count-box{
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  align-items: baseline;
  width: 330px;
  height: 63px;
  margin: 0 auto 60px;
  text-align: center;
  transition: transform .4s, opacity .4s, -webkit-transform .4s;
}
.success-case-section .success-count-box .front{
  bottom: -5px;
  left: 8px;
}
.success-case-section .success-count-box span{
  position: absolute;
  font-size: 18px;
}
.success-case-section .success-count-box .success-count-num{
  width: 3em;
  font-family: 'Archivo Black', sans-serif;
  font-size: 58px;
  color: #25b7c0;
  text-align: right;
}
.success-case-section .success-count-box .percent{
  position: static;
  font-size: 58px;
  font-family: 'Archivo Black', sans-serif;
  color: #25b7c0;
}
.success-case-section .success-count-box .back{
  bottom: -5px;
  right: 8px;
}
.success-case-section .success-count-box span{
  position: absolute;
  font-size: 18px;
}
.read-box.type02{
  padding: 63px 25px 60px;
  background: #25b7c0;
}
.read-box{
  width: calc(100% - 8.8vw);
  max-width: 900px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
.read-box.type02 p{
  font-size: 16px;
  text-align: center;
}
.read-box p{
  margin-bottom: 35px;
  line-height: 32px;
}
/* メールでのご相談(ボタン) */
.btn-field{
  padding: 55px 4.4vw;
  background: #f5f5f5;
}
.btn-field > p{
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.btn-field .btn-field-inner{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}
.btn-field .btn-mail{
  background: #19448e;
}
.btn-field a{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 70px;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  transition: opacity .2s;
}
/* 採用オウンドメディア成功の鍵 */
.to-success-section{
  margin-top: 80px;
  padding: 60px 0 80px;
  background: #f5f5f5;
}
.to-success-section h2{
  margin-bottom: 50px;
  font-size: 38px;
}
.to-success-section .success-key-box{
  position: relative;
  width: 85%;
  overflow: hidden;
}
.to-success-section .box-left.is-active .success-key-left{
  opacity: 1;
  transform: translate(0%);
  transition-delay: .2s;
}
.to-success-section .box-left .success-key-left{
  padding: 115px 10px 35px;
  transition: transform .6s, opacity .6s ease, -webkit-transform .6s;
}
.to-success-section .success-key-box > div{
  height: 100%;
}
.to-success-section .success-key01{
  background: url("/images/success_key01_pc_bg.jpg");
  background-size: cover;
  background-position: 50% 20%;
}
.to-success-section .box-left.is-active .o-mask-left{
  transform: translateX(100%);
}
.to-success-section .box-left .o-mask-left{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background: #25b7c0;
  z-index: 1;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
.to-success-section .box-left .key-message{
  margin-left: 20%;
}
.to-success-section .key-message{
  padding: 26px 25px 17px;
  width: 100%;
  max-width: 450px;
  min-height: 250px;
  background: rgba(255, 255, 255, 0.7);
}
.to-success-section .box-right{
  margin: auto;
}
.to-success-section .box-right.is-active .success-key-right{
  opacity: 1;
  transform: translateX(0%);
  transition-delay: .4s;
}
.to-success-section .box-right .success-key-right{
  padding: 115px 10px 35px;
  transition:transform .6s, opacity .6s ease, -webkit-transform .6s;
}
.to-success-section .success-key02{
  background: url("/images/success_key02_pc_bg.jpg");
  background-size: cover;
  background-position: 50% 20%;
}
.to-success-section .box-right .key-message{
  margin-left: auto;
  margin-right: 20%;
}
.to-success-section .box-right .o-mask-right{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
.to-success-section .box-left .success-key-left.success-key03{
  opacity: 1;
  transform: translateX(0%);
  transition-delay: -499.8s;
}
.to-success-section .box-left .success-key-left.success-key03{
  padding: 32px 10px 32px;
}
.to-success-section .success-key03{
  background: url(/images/success_key03_pc_bg.jpg);
  background-size: cover;
  background-position: 50% 20%;
}
.to-success-section .success-key04{
  background: url(/images/success_key04_pc_bg.jpg);
  background-size: cover;
  background-position: 50% 20%;
}
.to-success-section .box-right.is-active .o-mask-right{
  transform: translateX(-100%);
}
.to-success-section .box-left .success-key-left.success-key05{
  padding: 48px 10px 47px;
}
.to-success-section .success-key05{
  background: url(/images/success_key05_pc_bg.jpg);
  background-size: cover;
  background-position: 50% 47%;
}
/* 求職者に見つけてもらえる採用オウンドメディア */
.support-detail-section{
  padding: 80px 0;
}
.support-detail-section .para-ttl{
  margin-bottom: 52px;
  padding: 47px 10px;
  background: url(/images/para_ttl_bg.jpg);
  background-repeat: no-repeat;
}
.support-detail-section .para-ttl h2{
  text-align: center;
  font-size: 30px;
}
.support-detail-section .support-detail-contents{
  padding: 0 15px;
}
.support-detail-section .support-detail-read{
  margin-bottom: 38px;
  text-align: center;
  font-size: 16px;
}
.support-detail-section .support-detail-read p{
  margin-bottom: 35px;
  line-height: 35px;
}
.support-detail-section .support-detail{
  max-width: 1000px;
  margin: 0 auto;
}
.support-detail-section .detail-block.is-active{
  opacity: 1;
  transform: translateY(0%);
}
.support-detail-section .detail-block{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  padding: 35px 25px;
  border-radius: 5px;
  box-shadow: 3px 3px 6px 0px #cecece;
  transition: transform .6s, opacity .6s ease, -webkit-transform .6s;
}
.support-detail-section .detail-block .img-box{
  width: 350px;
  height: 290px;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}
.support-detail-section .detail-block .img-box img{
  width: 100%;
  height: 100%;
}
.support-detail-section .detail-block .txt-box{
  margin-left: 25px;
}
.support-detail-section .detail-block .txt-box h3{
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 22px;
  color: #008080;
}
.support-detail-section .detail-block .txt-box p{
  font-size: 16px;
  line-height: 33px;
}

/* ??? */
/* ??? */
/* ??? */
/* 採用オウンドメディアの運用フロー */
.operation-flow-section {
  padding-top: 74px;
}
.operation-flow-section h2{
  margin-bottom: 40px;
  font-size: 32px;
}
.operation-flow-section > p{
  margin-bottom: 41px;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
}
.slide-block{
  padding: 0 15px 55px;
}
.slide-block .flow-main-slide {
  position: relative;
  max-width: 1122px;
  margin: 0 auto 34px;
}
.slide-block .flow-slide {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.slick-slider {
  position: static;
}
.slick-slider {
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
element.style {
  display: block;
}
.slide-block .slick-arrow.prev{
  left: 0;
}
.slide-block .slick-arrow{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 43px;
  height: 54px;
  margin: auto;
  z-index: 1;
  cursor: pointer;
}
img{
  border-style: none;
}
.slide-block .flow-slide .slick-list{
  border-radius: 20px;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.3);
}
.slick-slider .slick-track, .slick-slider .slick-list{
  transform: translate3d(0, 0, 0);
}
.slick-list{
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-track{
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slide-block .slick-arrow.next{
  right: 0;
}
.slide-block .flow-slide-thumb-block{
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 765px;
  margin: 0 auto;
}
.slide-block .flow-bar{
  position: absolute;
  top: -59px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 695px;
  height: 3px;
}
.slide-block .flow-slide-thumb{
  width: 100%;
}
.slide-block .flow-slide-thumb .slick-track{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 765px !important;
  padding: 20px 5px;
}
element.style {
  width: 153px;
}
.slide-block .thumb-box{
  cursor: pointer;
}
.slick-initialized .slick-slide{
  display: block;
}
.slick-slide{
  float: left;
  height: 100%;
  min-height: 1px;
}
.slide-block .thumb-box .flow-thumb{
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 95px !important;
  margin: 0 auto;
  float: none;
}
.slide-block .thumb-box .thumb-txt{
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #1e1e1e;
  transition: color .4s;
}
.slick-slide img{
  display: block;
}
.slide-block .thumb-box .flow-thumb img{
  transform: scale(1, 1);
  transition: transform .4s, -webkit-transform .4s;
}
.slide-block .flow-txt-box{
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translate(0, -50%);
  max-width: 560px;
  z-index: 1;
}
h3{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.17em;
  font-weight: bold;
}
.slide-block .flow-txt-box h3{
  margin-bottom: 13px;
  font-size: 22px;
  font-weight: 700;
}
.slide-block .flow-txt-box p{
  font-size: 16px;
  line-height: 28px;
}
.slide-block .flow-txt-box p:last-of-type{
  margin-bottom: 0;
}
.slide-block .flow-txt-box{
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translate(0, -50%);
  max-width: 560px;
  z-index: 1;
}
.slide-block .flow-slide .slick-slide img{
  border-radius: 20px;
}



/* footer */
footer {

}
